# =====================================================
# Application
# =====================================================

APP_PORT=8000
FRONTEND_PORT=3000
OLLAMA_PORT=11434


# =====================================================
# Ollama
# =====================================================

OLLAMA_CHAT_MODEL=llama3.1:8b
OLLAMA_EMBED_MODEL=nomic-embed-text


# =====================================================
# Kubernetes
# =====================================================

# Windows example:
# KUBE_CONFIG_PATH=C:/Users/Administrator/.kube

# Linux example:
# KUBE_CONFIG_PATH=/home/username/.kube

# macOS example:
# KUBE_CONFIG_PATH=/Users/username/.kube

KUBE_CONFIG_PATH=${HOME}/.kube

# Docker Desktop Kubernetes API
KUBERNETES_API_HOST=host.docker.internal
KUBERNETES_API_PORT=65095